h1 {
  color: green;
}
.one, .five {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.hit, .stick, .double {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*.bank {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 60px;
  border: 1px solid black;
}*/
/*.player{
  position: fixed;
  left: 220px;
  bottom: 0px;
}*/

.down {
  position: absolute;
  left: 120px;
  width:225px;
}
/*.down {
  position:relative;
  z-index: -1px;

}*/
