.screen{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /*border: 5px solid red;*/
  /*height: 100%;*/
  width: 100%;
  /*position: relative;
  z-index: 0;*/
  /*align-items: center;*/

}
.dealerBox{
  height: 80%;
  width: 92%;
  /*border: 5px solid red;*/
  display: flex;
  justify-content: flex-end;


}
.dealer{
/*margin-right: 20%*/

}
.playerBox{
  height: 30%;
  width: 100%;
  /*border: 5px solid green;*/
  display: flex;
  justify-content: flex-end;
}
.decisionBox{
  height: 20%;
  width: 20%;
  /*border: 5px solid yellow;*/
  display: flex;
  justify-content: center;
}
.betBox{
  height: 75%;
  /*border: 5px solid blue;*/
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  margin-top: 10%;
  /*position: absolute;*/
  /*margin-top: 20%;*/
}

h1 {
  color: #e0c76b;
  font-family: 'Italianno', cursive;
  font-size: 50px;
  position: absolute;
  z-index: -1;


}
.bottomLine{
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  /*border: 1px solid red;*/

}

.alert{
  width: 20%;
  text-align: center;
  /*border: 1px solid #e0c76b;*/
  font-size: 25px;
  color:#e0c76b;


}
.one, .five{
  cursor: pointer;
  content: "";
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  margin: 5px;
  top: 6px;
  border-radius: 50px;
  z-index: 500;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  }
/*.one, .five {
    background-color: #4CAF50; /* Green */
    /*border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;*/
/*}*/
.one{
  background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
  }
  .five{
background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
}

.hit, .stick, .double, .split {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body{
  background-color: #008000;
}
/*.bank {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 60px;
  border: 1px solid black;
}*/
/*.player{
  position: fixed;
  left: 220px;
  bottom: 0px;
}*/

.down {
  /*position: absolute;*/
  left: 120px;
  width:225px;
}
/*.down {
  position:relative;
  z-index: -1px;

}*/
